html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #7a5cff 0%, #3cd644 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  padding-top: 20px;
  user-select: none;
}



.functions button, .math-operations button {
	display: inline-block;
	width: 80px;
	height: 80px;
	color: #d63c6b
}

.functions button:hover, 
.math-operations button:hover {
	color: #b696a0;
}

.numbers button {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	float: left;
}
  
.numbers button:last-child {
	width: 100%;
}
